Repository NVIDIA/spark-rapids-jni, pull requests merged in 2022-08, with the labels that each got.

#403 Compile benchmarks without building cudf benchmarks
  build-libcudf.xml
  src/main/cpp/benchmarks/CMakeLists.txt
  src/main/cpp/benchmarks/common/generate_input.cu
  src/main/cpp/benchmarks/common/generate_input.hpp
  src/main/cpp/benchmarks/common/random_distribution_factory.cuh
Labels: enhancement, build

#460 Allow providing a seed value for std::rand in faultinj config
  src/main/cpp/faultinj/faultinj.cu
  src/test/cpp/faultinj/test_faultinj.json
Labels: faultinj

#463 Pulling row_conversion.cu over from cudf
  src/main/cpp/src/RowConversionJni.cpp
  src/main/cpp/src/row_conversion.cu
  src/main/java/com/nvidia/spark/rapids/jni/RowConversion.java
  src/test/java/com/nvidia/spark/rapids/jni/RowConversionTest.java
Labels: enhancement

#481 add DOCKER_BUILD_EXTRA_ARGS and DOCKER_RUN_EXTRA_ARGS variable [skip ci]
  build/run-in-docker
Labels: build

#512 changing cmake to 3.23.3
  ci/Dockerfile
Labels: build
