Repository NVIDIA/spark-rapids-jni, pull requests merged in 2022-04, with the labels that each got.

#164 Statically link the CUDA runtime into a single shared library
  build-libcudf.xml
  pom.xml
  spark-rapids-cudf/pom.xml
  spark-rapids-jni/pom.xml
  src/main/cpp/CMakeLists.txt
  src/main/cpp/cmake/Modules/ConfigureCUDA.cmake
  src/main/cpp/src/RowConversionJni.cpp
  src/main/cpp/src/emptyfile.cpp
  src/main/cpp/src/row_conversion.cu
  src/main/cpp/src/row_conversion.hpp
  src/main/java/com/nvidia/spark/rapids/jni/RowConversion.java
  src/test/java/com/nvidia/spark/rapids/jni/RowConversionTest.java
Labels: build

#176 Add spark-rapids-jni-version-info.properties
  build/build-info
  pom.xml
Labels: build

#182 Add a build script to build in a Docker container
  CONTRIBUTING.md
  build/build-in-docker
Labels: documentation, build

#197 Add security documentation to repository [skip ci]
  SECURITY.md
Labels: documentation

#198 Add source-javadoc profile
  ci/deploy.sh
  ci/nightly-build.sh
  pom.xml
Labels: build

#208 Fix invalid yum repo in ci/Dockerfile [skip ci]
  ci/Dockerfile
Labels: bug, build
